[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "~=2.3.2"
python-dotenv = "~=0.18.0"
flask-wtf = "~=0.15.0"
flask-migrate = "*" # I couldn't find a version
flask-sqlalchemy = "*" # I tried installing flask-sqlalchemy==2.0.0 but it caused errors.
flask-login = "*"
install = "*"
email-validator = "*"
flask-mail = "*"
pyjwt = "*"
flask-bootstrap = "*"
flask-moment = "*"

[dev-packages]
bandit = "*"
black = "*"
coverage = "*"
isort = "*"
monkeytype = "*"
pylint = "*"
pyre-check = "*"
wily = "*"

[pipenv]
allow_prereleases = true

[requires]
python_version = "3.9"
